.dart_tool/
.packages
.pub-cache/
build/
coverage/
generated_plugin_registrant.dart

.flutter-plugins
.flutter-plugins-dependencies

ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Runner.xcworkspace/
macos/Pods/
macos/.symlinks/
DerivedData/
*.xcworkspace
*.xcodeproj/

android/.gradle/
android/app/build/
.gradle/
build/

.vscode/
.idea/
*.iml

.DS_Store
